@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
   
}
section{
    position:relative;
    display:flex;
    flex-direction: column;  
    justify-content:flex-start;
    width: 100%;
    height: 100vh; 
    background:url(../images/bgimg2.jpg) no-repeat;
    background-size:cover;
    background-position:bottom;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin:0 15px;
    padding-top:12px;
}
/* header .fa-bars{
    font-size: 25px;
    color:black;
    cursor: pointer;
    display:none;
   
  }
  
.logo {
   font-size:40px;
   font-weight:100;
   color:black;  

}
.navigation a{
    padding:15px;
    color:white;
    font-size: 21px;
    font-weight:100;
    margin-left:18px;
    padding:10px 20px;
    letter-spacing:1px;
    height:40px;
    bottom:0;
    right:0;

}
.navigation a:hover{
    color:black;
    background-color:white;
    transition: all 1s;
}
.navigation a:nth-child(5):hover{
   background:none;
}
.navigation a:nth-child(5){
    position:bottom;
    bottom:0;
    margin-left:100px;
 } */

/* .navigation a:hover{
    color:black;
    background-color:white;
    border-radius:20px;
} */
.content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left:50px;
    top:0;
    margin-top:0;
   
}
.content .info{
    position:left;
    margin-left:30px;
    margin-top:15%;
}
.content .info .logo{
    font-size:25px;   
    color:black;
}
.content .info h2{
    font-size:45px; 
    margin-bottom:20px;
    letter-spacing:1px;
}
.content .info h2 span{
    color: white;
}
.content .info p{
    align-items: center;
    color:rgba(36, 30, 30, 0.582);
    margin-bottom:25px;
    max-width:400px;
    
}
.content .info .btn{
    color:white;
    font-size:20px;
    border:1px solid white;
    padding: 10px 20px;
    
}
.content .info .btn:hover{
    color: black;
    font-size:20px;
    border:1px solid white;
    padding: 10px 20px;
    background:white;
    transition: all 1s;
  
}
.content .social-media{
    flex-direction:column;
    display:flex;
    margin:15px;
}
.content .social-media img{
  padding-top:30px;
  color:white;
  cursor:pointer;
  transform:scaleY(1);
}

/* Variables */
:root {
  --font-size:1rem;
}
.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #F0F0F0;  
}
.dark-mode {
  --navbar-color: #FFF;
  --navbar-bg-color: #000;  
}
ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  font-size:1.1rem;
  background:transparent;
  color:white;
  width:100%;
  font-weight:400;
  margin:0 60px;

}
.navbar__logo a{
  color:black;
  align-items:center;
  justify-content:center;
  font-size:2rem;
  font-weight:800;
}
.navbar__links { 
  display:flex;  
  color:white;
  
}
.navbar__link { 
  padding:0 10px;
  margin-left:15px;
}
.navbar__link > a { 
  color:white;
  text-decoration:none;
  font-size:1em;
  font-weight:500;
}
.burger {
  display:none;
}
.navbar .navbar__logo{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  color:black;
}
/*  Small device */
@media screen and (max-width:913px) {
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:black;     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
    z-index:2;
  }
  .show-nav .navbar__links { 
    width:100vw;    
    transform: translateX(0);
  
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:white; 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}